body {
    background-color: #0066ff;
}

.containerBorder {
    border: 3px solid blue;
    width: 50%;
    padding: 2%;
    background-color: #c2c2ce;
    min-width: 225px;
    min-height: 300px;
    border-radius: 10px;
}

.centered {
    text-align: center;
}

.dropDown {
    margin: 5px;
    padding: 5px;
}

#returnButton {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.templateButton {
    padding: 10px;
}

.outputData{
    border-radius: 5px;
    background-color: aliceblue;
    margin: 10px;
} 